*

!README.md
!.github/workflows/verify.yml
!.gitignore
!.gitattributes
!*.py
!*.md
!*.sv
!*.v
!*.cpp

**/.ipynb_checkpoints/**

!rtl/*
!rtl/ext/*
!rtl/sram/*

!test/py/*.py
!rtl/sv/*

!c/

!tcl/
!wave/