old/
__pycache__

fpga/*
!fpga/scripts

asic/*
!asic/scripts
!asic/reports

*.pickle
test/vectors
test/xsim
test/dnn_engine_tb.vcd
test/xsc*
test/obj_dir
test/models
test/temp

test/py/*

.svls.toml


# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Sphinx documentation
docs/**
!docs/source/conf.py
!docs/source/index.rst
!docs/source/modules.rst