*

# only track .py, .md, 
# cant just enable *.v, *.sv, *.c, *.cpp, *.tcl, cuz they are created by vivado also
# allow only .tcl files named "build*.tcl"

!*.gitignore
!*.py
!*.md
!**/build*.tcl

**/.ipynb_checkpoints/**

# in subfolders also
# allow all stuff inside any subfolder named "src"

!*/
!**/src/**
!**/wave/**